[submodule "tellstore"]
	path = tellstore
	url = ../tellstore.git
	branch = master
[submodule "telljava"]
	path = telljava
	url = https://github.com/tellproject/telljava.git
	branch = master
[submodule "telldb"]
	path = telldb
	url = https://github.com/tellproject/telldb.git
	branch = master
[submodule "commitmanager"]
	path = commitmanager
	url = ../commitmanager.git
	branch = master
[submodule "crossbow"]
	path = crossbow
	url = https://github.com/tellproject/crossbow.git
	branch = master
[submodule "bdtree"]
	path = bdtree
	url = https://github.com/tellproject/bdtree.git
	branch = master
